.add-task-button {
  background-color: purple;
}

.add-task-button-text {
  font-size: 15px;
}

.add-task-button-icon {
  width: 26px;
}

.add-task-dialog {
  border: none;
  border-radius: 1rem;
}

.add-task-dialog[open] {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.add-task-dialog ::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.add-task-dialog-component {
  margin-bottom: 10px;
}

.add-task-dialog-component-select {
  border-color: lightgrey;
  border-style: solid;
  border-radius: 8px;
  padding: 10px;
}

.add-task-dialog-done-button {
  border-radius: 10px;
  background-color: green;
}