# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Frontend
node_modules/
build/
.env

# Backend
task-management-app-backend/node_modules/
task-management-app-backend/tasks.db
task-management-app-backend/*.db

# OS files
.DS_Store
Thumbs.db